{% extends "dashlay.html" %}
{% block body %}
        <h3 class="text-center">Product List</h3>
        <br>
          <table class="table table-hover table-striped m-auto" style="width:80%">
              <thead>
                <tr>
                  <th scope="col">Product ID</th>
                  <th scope="col">Name</th>
                  <th scope="col">Category</th>
                  <th scope="col">Price</th>
                  <th scope="col">Quantity Left</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
              {% for product in products %}
                <tr>
                  <td>{{product.product_id}}</td>
                  <td>{{product.product_name}}</td>
                  <td>{{product.category}}</td>
                  <td>{{product.price}}</td>
                  <td>{{product.quantity}}</td>
                  <form action="" method="post">
                      <input type="hidden" value="{{product.product_id}}" name="pid">
                      <td><button class="btn btn-secondary w-100" type="submit">Delete</button></td>
                  </form>
                </tr>
              {% endfor %}
              </tbody>
           </table>

{% endblock %}
